<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Raptured or Not?</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/screen.css')}}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/print.css')}}" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/ie.css')}}" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="{{url_for('static', filename='css/rapturedornot.css')}}" type="text/css">
        
        {% block styles %}{% endblock %}
              
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        <script src="{{url_for('static', filename='js/rapturedornot.js')}}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script>
          FB.init({
            appId  : '214537948568193',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true  // parse XFBML
          });
        </script>
        </div>
        
        <div class="container">
            <div class="span-24 prepend-top last">
                <center>
                    <span class="small">Are you</span>
                </center>
            </div>
            <div class="span-24 last">
                <center>
                    <h1>Raptured or Not?</h1>
                </center>
            </div>
        </div>
    
            <div class="span-24 last header">
                <br/>
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo"/>
            </div>
            <div class="span-24 last content">
                <div class="span-22 prepend-1 append-1 last inner_content">
                    {% if session.username %}
                    <!-- Logged in? -->



                    {% else %}
                    <!-- Not logged in? -->

            			<fb:login-button>Login with Facebook</fb:login-button>

                    {% endif %}
                </div>
            </div>
        </div>
    
        {% if session.username %}
        <!-- Logged in? -->
        
            
        
        {% else %}
        <!-- Not logged in? -->
        
			<fb:login-button>Login with Facebook</fb:login-button>
			
    
        {% endif %}
    </body>
</html>
