{% extends "base.html" %}

{% block content %}

<div class="span-24 last" id="fb_info" style="text-align: center;">
    <br/>
    <h1>THE RAPTURE IS COMING!</h1>
    <h1>ARE YOU READY?</h1>
    <br/>
    <h2>Log into Facebook to vote on your friends being raptured <img src="{{url_for('static', filename='img/upboat.png')}}" width=50 height=50 alt="vote up"/> or left behind <img src="{{url_for('static', filename='img/downboat.png')}}" width=50 height=50 alt="vote down"/>!</h2>
    <fb:login-button>Login with Facebok</fb:login-button>
    <br/><br/>
    <div class="span-12 prepend-6 last" style="font-size:1.2em; padding-bottom: 1em; text-align:left;">
        <p>You do know the Rapture is on its way, right? May 21, 6 PM local time? It's true. You know how I know?</p>
        <h1>Numbers.</h1>
        <p>Yeah numbers. Here's my proof:</p>
        <ol>
            <li>5 is atonement, 10 is completeness, and 17 is heaven. These numbers were chosen by fair die roll.</li>
            <li>Jesus died the first time on April 1, 33 A.D. Add 1,978 years to this date and you get April 1, 2011. Why 1,978? READ ON TO FIND OUT!</li>
            <li>
        </ol>
    </div>
</div>
{% endblock %}