{% extends "base.html" %}

{% block content %}
<div class="span-24 last" style="text-align: center;">
    <h2>{{friend_name}}</h2>
</div>
<div class="span-7 prepend-5" style="text-align: center;">
	&nbsp;<img src="http://placekitten.com/300/300" id="friendPix" alt="a kitty"/>&nbsp;
    <script>
		FB.api('/{{friend_fb_id}}/picture', {type: "large"}, function(response){
			$("#friendPix").src=response
		});
	</script>
</div>
<div class="span-8 last" style="text-align: center;">
    <br/><br/><br/>
    <a href="{{upvote_url}}" alt="up vote">
    <img src="{{url_for('static', filename='img/upboat.png')}}" alt="vote up"/>
    </a>
    <br/><br/>
    <a href="{{downvote_url}}" alt="down vote">
    <img src="{{url_for('static', filename='img/downboat.png')}}" alt="vote down"/>
    </a>
</div>
<div class="span-24 last" style="text-align: center;">
    {% if next_url %}<a href="{{next_url}}" style="font-size: 2em;">Next</a>{% endif %}<br/>
    <a href="{{url_for('list')}}" style="font-size: 2em;">Show your votes</a>
</div>
{% endblock %}
