body {
    background-color:#668;
}

.buttons{
    margin-left: auto;
    text-align: right;
}

.subject{
    margin-right: auto;
    text-align: left;
}

.header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.content {
    background-color: #efefff;
    margin-top: -5px;
    margin-bottom: 1em;
}

.footer {
    margin-top: 2em;
    text-align: center;
    color: #efefff;
}

.footer a {
    color: #efefff;
}
