body {
    background-color:#eef;
}

.buttons{
    margin-left: auto;
    text-align: right;
}

.subject{
    margin-right: auto;
    text-align: left;
}

.header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.content {
    margin-top: -5px;
    background-color:#cfd;
    border-left: 1px solid #aac;
    border-right: 1px solid #aac;
    padding-right: -2px;
}

.inner_content {
    margin-top: 2em;
    padding-bottom: 2em;
}
